
.Footer{
    background-color:#f5f5f5;;
}

/* -----------------.Footer-container----------------- */


.Footer-container{
    padding: 3.5rem 0rem;
    overflow: hidden;
}

/* -----------------Footer-logo----------------- */

.Footer-logo{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.Footer-logo img{
   mix-blend-mode: color-burn;
}

/* -----------------Footer-social----------------- */

.Footer-social{
    display: flex;
    align-items: center;   
    justify-content: center;
}

.Footer-social a{
    color: #687693;
    border: 1px solid #68769366;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    padding: 0.28rem;
    text-align: center;
    margin: 0.5rem;
}

.Footer-social a:hover{
    color: white;
    background-color: #e5540a;
}

@media screen and (max-width: 430px) {
    .Footer-copyright a{
        margin: 0.3rem;
    }
  }

/* -----------------Footer-copyright----------------- */

.Footer-copyright{
    display: flex;
    align-items: center;   
    justify-content: center;
}

.Footer-copyright p{
    color: #687693;
    font-size: .8rem;
}

@media screen and (max-width: 430px) {
    .Footer-copyright p{
        font-size: .6rem;
    }
  }
