
.ScrollText-container{
    height: 2rem;
    overflow: hidden;
    position: relative;
    margin: 2rem 0rem;
    background-color: #f5f5f5;
}

.ScrollText-container p{
   position: absolute;
   width: 100%;
   height: 100%;
   /* background-color: blueviolet;  */
   margin: 0;
   line-height: 2rem;
   text-align: center;
   font-family: 'Labrada', serif;
   /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%); 
   transform:translateX(100%);
   /* Apply animation to this element */ 
    -moz-animation: scroll-left 1s linear infinite;
    -webkit-animation: scroll-left 1s linear infinite;
   animation: scroll-left 30s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes scroll-left {
    0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
    }

